Vagrant.configure('2') do |config|
  config.vm.box = 'generic/debian12'
  config.vm.box_version = '>= 4.3.0'
  config.vm.hostname = 'virt-lab'

  config.vm.provider :libvirt do |libvirt|
    libvirt.memory = 4096
    libvirt.cpus = 2
  end

  config.vm.network 'private_network', type: 'dhcp'
end
