########## Include files ##########
# Replace __SEED_BASE__ with your hosting base URL.
d-i preseed/include string \
  __SEED_BASE__/preseed/account.preseed.cfg \
  __SEED_BASE__/preseed/network.preseed.cfg \
  __SEED_BASE__/preseed/apt.preseed.cfg \
  __SEED_BASE__/preseed/partman.preseed.cfg \
  __SEED_BASE__/preseed/packages.preseed.cfg \
  __SEED_BASE__/preseed/finish.preseed.cfg
