########## Partitioning (btrfs example) ##########
d-i partman-auto/disk string /dev/sda
d-i partman-auto/method string regular
d-i partman-auto/choose_recipe select my-btrfs
d-i partman-auto/expert_recipe string \
    my-btrfs :: \
      512 512 512 fat32 \
        $iflabel{ gpt } $primary{ } method{ efi } format{ } \
      . \
      1024 1024 1024 ext4 \
        method{ format } format{ } use_filesystem{ } filesystem{ ext4 } mountpoint{ /boot } \
      . \
      10000 2000 -1 btrfs \
        method{ format } format{ } use_filesystem{ } filesystem{ btrfs } mountpoint{ / } \
      .
